<section id="profile">

    <div class="container pt-5">
        <div class="row pb-4">
            <div class="col-md 12 ">
                <div class="float-right">
                    <!-- Button trigger modal -->
                    <!-- #addnote -->
                    <button class="btn addnote" data-toggle="modal" data-target="#addnote">Add Note</button>
                </div>
            </div>
        </div>
    </div>

    <div class="notesBG ">
        <div class="container ">
            <div class="row mt-4 ">
                <div class=" dis col-lg-3 col-md-4 mb-4  " *ngFor="let note of allNotes" >
                    <div class="note" >


                        <div class="float-right my-2 mx-3 ">
                            <div class="dropdown">
                                <i class="fas fa-ellipsis-v" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"></i>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <!-- #editnote -->
                                    <a class="dropdown-item d-flex justify-content-between" data-toggle="modal"
                                        data-target="#editnote" (click)="getId(note._id);setValue()">Edit <span
                                            class="text-secondary ml-3"><i class="fas fa-edit"></i></span></a>
                                    <!-- #deletenote -->
                                    <a class="dropdown-item d-flex justify-content-between" data-toggle="modal"
                                        data-target="#deletenote" (click)="getId(note._id)">Delete <span
                                            class="text-danger ml-3"><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>



                        <div class="content px-3 pt-5 pb-2 text-center">
                            <div class="pb-1 w-100 ">
                                <h5 class="head5 ">{{note.title}}</h5>
                            </div>
                            <div class="content2">
                                <p>{{note.desc}}</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>






    <!--add note modal -->
    <!-- #addnote -->
    <div class="modal fade" id="addnote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form [formGroup]="addForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input formControlName="title" class="form-control my-2" type="text" placeholder="Title">
                        <textarea formControlName="desc" class="form-control" rows="10"
                            placeholder="Write Your Note"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="addNote()">
                            <span *ngIf="checked;else waiting">Add</span>
                            <ng-template #waiting>
                                <span>waiting...</span>
                            </ng-template>
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--edit note modal -->
    <!-- #editnote -->
    <div class="modal fade" id="editnote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form [formGroup]="editForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input formControlName="title" class="form-control my-2" type="text" placeholder="Title">
                        <textarea formControlName="desc" class="form-control" rows="10"
                            placeholder="modifiy Your Note"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" (click)="editNote()">
                            <span *ngIf="checked;else waiting">Update</span>
                            <ng-template #waiting>
                                <span>waiting...</span>
                            </ng-template>
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--delete note modal -->
    <!-- #deletenote -->
    <div class="modal fade" id="deletenote" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you Sure ? </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center text-info font-weight-bolder">
                    <p> Do you really want to delete ? <br> process cannot be undone </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deleteNote()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</section>